body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
}

#container {
    position: relative;
    display: inline-block;
    border: 3px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#webcam, #outputCanvas {
    width: 640px;
    height: 480px;
}

#outputCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#status {
    margin-top: 20px;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.alert-ok {
    color: #008000; /* Verde */
    font-weight: bold;
}

.alert-bad {
    color: #ff0000; /* Rojo */
    font-weight: bold;
    animation: pulse 1s infinite; /* Animación para llamar la atención */
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.03); }
    100% { transform: scale(1); }
}